*{
    /* margin: 0;padding: 0; */
}
body{
    width: 100%;
    max-width: 1400px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: gainsboro; */
}
nav {
    position: sticky;
    padding-right: 20px;
    /* width: 1270px; */
    width: 100%;
    max-width: 1600px;
    /* display: flex; */
    /* justify-content: center; */
    background-color: white;
    box-shadow: 0px 2px 10px 0px gainsboro;
    box-sizing: border-box;
}

div {
    padding: auto 10px 10px;
    display: flex;
    justify-content: space-between;
}
div#nav2{
    height: 43px;
}
div#nav1 ul li a:hover{
    text-decoration: underline rgb(146, 4, 212);
}
ul li {
    display: inline-block;
}

a {
    text-decoration: none;
    margin: auto 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgb(119, 5, 172);
}
.icons{
    width: 23px;
}
ul.right a.icon-bg{
    /* flex-grow: 30px; */
    margin: 5px; padding: 5px;
    color: white;
    border-radius: 7px;
    background-color: rgb(146, 4, 212);
}
hr{
    padding: auto 10px;
    margin: 0 15px;
    border-color: solid .1px #999;
    /* height: 2px; */
}

/* Nav Line_1 */
ul.left {
    float: left;
}
.left a{
    font-weight: 900;
}

ul.right {
    float: right;
}

ul.right a {
    color: black;
}
ul.left li{
    font-weight: 900;
    font-size: 20px;
}
/* Nav Line_2 */
ul.center,
ul.searchIcon {
    float: right;
}

/* main */
main{
    box-sizing: border-box;
    /* margin-top: 50px;
    padding-top: 50px; */
}
#mainContent{
    margin-top: 50px;
    /* padding-top: 50px; */
    display: flex;
    align-items: center;
}
#intro {
	margin: auto 60px;
	padding: auto 10px;
	display: block;
}
#mainContent img{
    width: 600px;
}
h1, h1 p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 36px;
}
h1 span{
    color: rgb(146, 4, 212);
}

#intro button {
    border-radius: 5px;
	width: 110px;
	height: 40px;
	font-weight: 800;
}
#intro button:hover {
    cursor: pointer;
}

    
#button1{
    border: solid 1px black;
    background-color: black;
    color: white;
}
#button2{
    border: solid 1px gainsboro;
}

/* section - 2 */
h2{
    font-size: 30px;
    text-align: center;
}
section#recommend{
    display: flex;
    justify-content: space-evenly;
}
#recommend div{
    width: 500px;
     /* height: 600px; */
    margin: 15px; padding: 20px;
    border-radius: 20px;
    border: none;
    box-shadow: 0px 2px 6px 6px gainsboro ;
    display: inline-block;
}
#recommend button{
    font-weight: 900;
    color: white;
    width: 130px; height: 40px;
    border: none;
    border-radius: 20px;
    background-color: rgb(146, 4, 212);
}
#recommend img{
    width: 100%;
}
#recommend .r2 img{
    margin: 15px auto;
}
#recommend .r1 img{
    margin: 10px auto;
}
#recommend p{
    font-size: 18px;
    padding: 10px;
    margin: auto auto 130px;
}
#recommend .r2 p{
    margin-bottom: 130px;
}
#recommend .r3 p{
    margin-bottom: 110px;
}

/* section#testimonial */
section#testimonials{
    display: flex;
    justify-content: center;
}
#testimonials p{
    /* height: 200px; */
    font-size: 21px;
    font-family: 'Ubuntu', sans-serif;
    /* font-family: 'Dancing Script', cursive; */
    color: rgb(77, 75, 75);
    background-color: rgb(245, 240, 240);
    margin: 20px; padding: 20px;
}
#testimonials p .review{
    color: black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
}

/* footer */
footer{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.leftfoot b{
    font-size: 18px; 
    letter-spacing: 1px;
    margin: auto 25px;
}
.leftfoot span{
    margin: 10px; padding: 10px;
    color: rgb(175, 170, 170);
    border-left: solid 1px rgb(175, 170, 170);
}
.rightfoot img{
     height: 30px;
    /* align-items: center; */
}